/* HTML Elements */
html, body {
  width: 100%;
  height:100%;
  background-color: #DEEDF0 !important;
}

h3, h4{
  padding-top:5%;
  padding-left:5%;

}

pre{
  text-align:right;
  padding:2%;
  font-weight:bold;
  font-family: Poppins !important;
}

p{
  padding:5%;
}

a{
  text-decoration: none !important;
}


/* Navigation */
.nav {
  margin-top:20%;
}

.nav-link {
  padding-left:0 !important;
}

.nav-button {
  width:100%;
  margin-bottom:7%;
}

.gradovi {
  margin:3%;
}

.fixed {
  position:fixed;
}

/* Section - Turisticka org */
.tur-info {
margin:5% 40% 5% 0%;
border-bottom: 2px solid white;
padding-right:2%;
font-family: Poppins;

}

.img-tur-org {
  height:15%;
  width:15%;
  float:right;
  margin-right:5%;
}

/* Main Box */
.row {
  height:100%;
}

.main-img {
  width:100%;
  height:100%;
}

.main-box {
  height:100%;
  width:100%;
padding: 0 !important;
border-left: 1px solid white;
border-right: 1px solid white;
}

#home {
  border-top:none;
}

.section-border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.heading {
  font-weight: bolder;
}

.section {
  width:100%;
  background-color: #DEEDF0;
  font-family: Poppins;

}

.img-section {
  background-image: url("../Images/section-background.png");
  background-size: cover;
}

/* Sections */
.section-container {
  z-index:0;
  position: relative;
}

#tur-org-srebrenica {
  position:absolute;
}

#kh-obiljezja-srebrenica{
  display:none;
  position:absolute;
}

#atrakcije-srebrenica{
  display:none;
  position:absolute;
}

#kuca-dobrih-tonova {
  display:none;
  position:absolute;
}

#memorijalni {
  display:none;
  position:absolute;
}

/* Section Images */
.image-style {
  max-width:100%;
  max-height:100%;
  padding:5%;
}

#dzamijaS {
  margin-top: 30%;
}

.perucac {
  margin-top:10%;
}


#memorijalni-centar {
  margin-top:30%;
}

#guber {
  margin-top: 45%;
}

#sase {
  margin-top:30%;
}

#klotjevac {
  margin-top:25%;
}

#karno {
  margin-top:30%;
}

#stecci {
  margin-top: 45%;
}

#dervisagica {
  margin-top:30%;
}

.municipium{
  margin-top:20%;
  margin-left:10%;
}

/* Aside Section */
.aside-box {
  text-align: center;
}

.grb {
  height: 15%;
  width: 50%;
  margin:90% 20% 10% 20%;
}

.hidden {
  display:none;
}

@media screen and (max-width: 500px) {
  .aside-box {
    display:none;
  }

  .hidden {
    display:block;
    margin-top:150%;
  }

  .grb-hidden {
    width:30%;
    height:10%;
  }

  .navigation {
    width:27% !important;
  }

  .nav {
    margin-top: 30%;
  }
  .nav-link {
    padding:0 !important;
    padding: 5% 0% !important;
    margin-right:50% !important;
  }

  .nav-item {
    margin-bottom:5%;
  }

  .btn {
    padding:5% 0% !important;
    width:130% !important;
    font-size: 14px !important;
    margin-right:30% !important;
  }

  .gradovi {
    width:50% !important;
    margin-left:0%;
  }

  .pocetna {
    width: 50% !important;
  }

  h1 {
    font-size:14px !important;
    margin-left:2%;
  }

  .grb {
    margin:0;
    margin-bottom:5%;
  }

  #dzamijaS {
    margin-top: 5%;
  }

  .perucac {
    margin-top:5%;
  }


  #memorijalni-centar {
    margin-top:5%;
  }

  #guber {
    margin-top: 5%;
  }

  #sase {
    margin-top:5%;
  }

  #klotjevac {
    margin-top:5%;
  }

  #karno {
    margin-top:5%;
  }

  #stecci {
    margin-top: 5%;
  }

  #dervisagica {
    margin-top:5%;
  }

  .municipium{
    margin-top:5%;
    margin-left:0;
  }

  .tur-info {
    margin-right:5%;
  }

  pre {
    font-size:10px !important;
  }

}
